.header
  height: 120px
  padding: 0 25px 0 25px
  line-height: 25px
  background-color: $light-blue

  h1
    color: $blue-grey
    margin: 0
    text-align: center

  #login-buttons
    margin-top: 30px
